In [1]:


name = 'Anthony'

In [5]:

name

'Anthony'

In [9]:
 x='helloworld'

In [12]:
x.upper()

'HELLOWORLD'

In [13]:
x.split('o')

['hell', 'w', 'rld']

In [14]:
my_name = 'kiran'
print(hello my name is my_name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1655782957.py, line 2)

In [17]:
my_name = 'Anish Gurung'
print('hello my name is'+ my_name)

hello my name isAnish Gurung

In [18]:
#.Formayt method

In [9]:
#'string here{} {} {} '.format(something1, something2, something3)

In [1]:
print('my self Anish Gurung')

my self Anish Gurung

In [3]:
#Formatted strings literals

In [5]:
name = 'Anish Gurung'

In [6]:
print(f'My name is {name}')

My name is Anish Gurung

In [7]:
print('His name is {}'.format(name))

His name is Anish Gurung

In [8]:
print(f'{name}is 18 years old')

Anish Gurungis 18 years old

In [10]:
#.Formayt method

In [11]:
#'string here{} {} {} '.format(something1, something2, something3)

In [12]:
print('I am a student of {}'.format('Medhavi Skills University'))

I am a student of Medhavi Skills University

In [13]:
print('The {q} {b} {f}'.format(b='brown', f='fox',q='quick'))

The quick brown fox

In [14]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [18]:
s1="hello"
s2=" I am a "
s3="pyhton programmer"
s4=s1+s2+s3
print(s4)

hello I am a pyhton programmer

In [25]:
print('{s1} {s2} {s3} '.format(s1='hello', s2='i am a ',s3='python programmer',))

hello i am a  python programmer

In [1]:
my_python="I love Programming"
print(my_python)

I love Programming

In [5]:
#float formatting {value:width.precision f}

In [3]:
py=3.1415926535

In [4]:
py

3.1415926535

In [8]:
print('The result is {r:1.4f}'.format(r=py))

The result is 3.1416